{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	<!-- Load CSS Files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/recorderjs.css' %}">
	{% block css %}{% endblock %}
</head>
<body>
	<div class="container">
		{% csrf_token %}
		{% block content %}{% endblock %}
	</div>

	<!-- Load JS Files -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block js %}{% endblock %}
</body>
</html>