html {
	font-family:sans-serif;	
}

#banner {
    height:120px;
    background:#600808;
    border:none;
    width:devide-width;
    margin:none;
	padding: 10px;
	text-align:center;
	vertical-align:center;
	font-weight:bold;
	font-size:35px;
	color: white;
}

#rec {
    border:1px solid #CCC;
	overflow: auto;
	position: absolute;
	bottom: 20px;
	left: 100px;
	height: 150px;
	width: 500px;
	padding: 10px;
} 

#label {
    border:1px solid #CCC;
	overflow: auto;
	position: absolute;
	bottom: 20px;
	right: 100px;
	height:150px;
	width: 500px;
	padding: 10px;	
}

ul {
	list-style: none;
}

#recordingslist audio {
	display: block; margin-bottom: 10px;
}

#record {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-left: 250px;
	margin-top:80px;
}

#record:active {
  box-shadow: 0 3px 0 #00823F;
  top: 3px;
}

#stop {
    background-color: #c61717; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#stop:active {
  box-shadow: 0 3px 0 #00823F;
  top: 3px;
}

#speech {
	float:right;
	margin-left: auto;
	margin-right: 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
	width: 600px;
	height: 200px;
	font-size: 20px;
	padding:10px;
}