{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock %}

{% block css %}
	<!--link rel="stylesheet" src="{% static 'asr_handler/css/upload_style.css' %}">-->
{% endblock %}

{% block content %}
    <h1 style="
		height:120px;
		background:#600808;
		border:none;
		width:devide-width;
		margin:none;
		padding: 10px;
		text-align:center;
		vertical-align:center;
		font-weight:bold;
		font-size:35px;
		color:white;
    ">{{ page.title }}</h1>
    <br>
    <button class="btn btn-success" id="button-record" disabled="disabled">Record</button>
    <button class="btn btn-danger" id="button-stop" disabled="disabled">Stop</button>
    <br>
    <h1>Decoded speech:</h1>
    <p id="output" style="
    	border: 3px solid black;
		font-size: 20px;
		padding:10px;
    "></p>
{% endblock %}

{% block js %}
    <script src="{% static 'asr_handler/js/recorder.js' %}"></script>
    <script src="{% static 'asr_handler/js/index.js' %}"></script>
{% endblock %}